<div class="container text-center pt-5 pb-5">
  <h1 class="display-2">
    Welcome on <em class="text-primary">{{ nameTitle }}</em>
  </h1>
  <p class="pt-3 fst-italic">Click to the button below for adding a task !</p>
  <app-task-create></app-task-create>
</div>

<div class="container">
  <br /><br /><br />
  <div class="pb-3" *ngFor="let task of list">
    <app-toutou
      [listId]="task.id"
      [dogName]="task.dogName"
      [dogTask]="task.dogTask"
    ></app-toutou>
    <hr />
  </div>
</div>
